.wcapi-main {
    width: 100%;
    margin-top: 25px;
    margin-left: 15px;
}

.wcapi-form__wrapper {
    max-width: 300px;
    padding: 25px 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.wcapi-form__title {
    margin-top: 0;
    text-align: center;
    font-size: 22px;
}

.wcapi-form {
    display: flex;
    flex-direction: column;
}

.wcapi-form__row {
    margin-bottom: 20px;
}

.wcapi-message {
    position: absolute !important;
    left: 0;
    top: 0;
    text-transform: capitalize;
}

input[id=wcapi_user_logout], input[id=add_demo_products] {
    margin-left: 15px !important;
}